@import "../../style/constants.scss";

$size: 100px;
$spacing: 15px;
$smaller-paddings-tr: 860px;
$smaller-chips-tr: 770px;
$size-with_margins: $size + $spacing + $spacing;
$img-padding: .3em;
$img-size: 30vw;
$sm: 600px;

.donates-background-block {
    background: linear-gradient(125deg, #ffe600c0 30%, $blue-color 90%);
    padding: {
        top: 100px;
        bottom: 45px;
    }
    @media (max-width: 600px) {
        padding-top: 80px;
    }
}

.donate-standard-block {
    width: 85%;
    margin: 0 auto;
    @media (max-width: $smaller-paddings-tr) {
        width: auto;
        margin: 0 $spacing;
    }
}

.circle-chips {
    border-radius: $size !important;
    height: $size-with_margins;
    padding: $spacing;

    @media (max-width: $smaller-chips-tr) {
        height: $size-with_margins/1.5;
    }

    .circle-chips-avatar {
        height: 100% !important;
        width: $size !important;
        display: inline-block;
        color: #fff !important;
        text-align: center;
        font-size: $size/1.2;

        @media (max-width: $smaller-chips-tr) {
            width: 56.66px !important;
            font-size: $size/2;
        }
    }
}
.chips-text_name {
    font-size: 1.5em;
    font-weight: 500;
    
    @media (max-width: $smaller-chips-tr) {
        font-size: 1em;
    }
}
.chips-text_amount {
    font-size: 2.5em;
    font-weight: 100;
    color: $blue-color;
    
    @media (max-width: $smaller-chips-tr) {
        font-size: 1.2em;
    }
}
.chips-text_date {
    font-size: .8em;
    color: #a8a8a8;
    letter-spacing: 1.5px;
    @media (max-width: $smaller-chips-tr) {
        margin-top: .2em;
        font-size: .6em;
    }
}
.volunteer-img-block {
    width: fit-content;
    display: inline-block;
    padding: $img-padding;
}
.text-align_center {
    text-align: center;
}
.volunteer-img-container {
    padding: $img-padding;
    display: inline-block;
    width: $img-size; 
    height: $img-size;
    @media (max-width: $sm) {
        width: 100%;
        height: 200px
    }
}
.volunteer-img {
    width: 100%; 
    height: 100%; 
    border-radius: 4px;
    object-fit: cover;
}
.circle-chips_text {
    display: inline-block;
    margin-left: $spacing;
    position: absolute;
}

.donate-page_spacing-block {
    margin-top: $spacing*2;
}