@import '../../../style/constants.scss';

.mt5prs{
  th{
  padding: 4px 0px 4px 20px;
}
  margin-top: 5%;
}
.ow {
  width: 100px;
}
.mw70{
  padding: 0;
  max-width: 1000px;
  margin-left: 5% ;
}
.tableHeader{
  background-color: $material-blue-color
}
.tablePadding{
  padding: 4px 5px 4px 24px !important;
}
.white14{
  color: #ffffff !important;
  font-size: 14px !important;
}
.pointer{
  margin-left: 20px;
  cursor: pointer;

}
