@import "../../../style/constants.scss";

.compSosInfo {
    @include padding-tb();
    background: linear-gradient(135deg, $orange-color 55%, #ffffff 0%);
}
.sosInfo{
    margin: 0 auto;
    @include margin-tb();
    width: 75%;
}
@media (max-width: 500px) {
    .sosInfo{
        width: 90% !important;
    }
}
.cards {
    padding: 16px;
}
.sos-text{
  font-family: "Saira", sans-serif !important;
    margin-left: .7em;
    font-size: 1.2em;
    line-height: 1.3;
    @media (max-width: 970px) {
      font-size: 1em;
    }
    @media (max-width: 500px) {
      font-size: .8em;
    }
}

.sos-list-el::before {
    content: '';
    display: block;
    margin: 0 16px;
    background-color: #0000001f;
    height: 1px;
}
.sos-list-first-els .sos-list-el:first-child::before {
    display: none;
}
.button-with-margins {
    margin-bottom: 1.5em !important;
}