@import "../../../style/constants.scss";
.card_button_volunteer {
  @include text-Saira();
  background-color: $orange-color !important;
  font-size: 14px !important;
  color: white !important;
  margin: 5px 10px 10px 0 !important;
}
@media only screen and (min-width: 768px) {
  .card_button_volunteer {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 767px) {
  .card_button_volunteer {
    font-size: 12px !important;
  }
}
