@import '../../../style/constants.scss';
$remove-paddings: 1200px;
$md: 959px;

.chart-list {
    margin: 0 15%;
}

@media (max-width: #{$remove-paddings}) {
    .chart-list {
        margin: 0 1em;
    }
}

@media (max-width: #{$md}) {
    .chart-list {
        margin: 0 15%;
    }
}
@media (max-width: 605px) {
    .chart-list {
        margin: 0 1em;
    }
    .grid-box {
        width: 100%;
    }
}
.chart-card {
    @include padding-all();
}