@import "../../style/constants.scss";

.mainSignIn {
  display: block; // Fix IE 11 issue.
  margin-left: $default-spacing-x3;
  margin-right: $default-spacing-x3;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.paperSignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $default-spacing-x2 $default-spacing-x3 $default-spacing-x3;
  position: relative;
}
.paperSignInLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $default-spacing-x2 $default-spacing-x3 $default-spacing-x3;
  z-index:1;
  position: relative;
  box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.637);
  filter: blur(2px);
}
.avatarSignIn {
  margin: $default-spacing;
}
.avatarSignUp {
  margin: auto;
  margin-bottom: $default-spacing;
  margin-top: $default-spacing;
  width: 100px !important;
  height: 100px !important;
  color: white !important;
}
.avatarSignUp:hover {
  margin: auto;
  margin-bottom: $default-spacing;
  margin-top: $default-spacing;
  width: 100px !important;
  height: 100px !important;
  color: white !important;
  cursor: pointer;
}
.avatarSignUpIcon {
  color: rgb(99, 97, 97) !important;
  font-size: 1.7rem !important;
}
.noAvatarSignUpIcon {
  color: rgb(255, 253, 253) !important;
  font-size: 7.2rem !important;
}
.formSignIn {
  width: 100%; // Fix IE 11 issue.
  margin-top: $default-spacing;
}
.submitSignIn {
    margin-top: $default-spacing-x3;
    width: 60%;
    margin: auto;
    margin-top: $default-spacing-x3;
    height: $default-spacing-x3 * 1.8;
}
.typographySignIn {
  margin: $default-spacing-x2;
  text-align: center;
}
.errorSignIn {
  margin-top: $default-spacing-x3;
  text-align: center;
}
.fabSignIn {
  box-shadow: none;
  margin-top: $default-spacing !important;
}
.linkSignIn {
  margin-top: $default-spacing-x2;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 432px) {
    .mainSignIn {
        display: flex; // Fix IE 11 issue.
        // margin-left: $default-spacing-x2;
        // margin-right: $default-spacing-x2;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 7px !important;

      }
      .paperSignIn {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $default-spacing $default-spacing-x2 $default-spacing-x2;
        position: relative;
      }
      .paperSignInLoading {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $default-spacing $default-spacing-x2 $default-spacing-x2;
        z-index:1;
        position: relative;
        box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.637);
        filter: blur(2px);
      }
  }
.dialogCloseButtonFront{
    background-color: $orange-color !important;
    color: white !important;
}
.signSubmitButton{
    width: 100%;
    height: 100%;
}