.card_main {
  width: 55%;
  margin-left: 22.5%;
  margin-right: 22.5%;
  margin-top: 15vh !important;
  margin-bottom: 50px !important;
  position: relative;
  .card_buttons {
    margin-top: 5vh !important;
    display: flex;
    justify-content: space-around !important;
  }
  .card_hidden {
    display: none !important;
  }
  .secondary-text {
    color: gray;
    font-size: 14px;
  }
  .primary-text {
    color: black;
    font-size: 17px;
  }
}

@media only screen and (min-width: 768px) {
  .card_main {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .card_main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
