@import "../../style/constants.scss";
.slides {
  position: relative;
}
.slick-next,
.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 111;
}
.slick-next {
  right: 7%;
}
.slick-prev {
  left: 3%;
}

.slick-prev:before,
.slick-next:before {
  color: $orange-color;
  font-size: 40px;
}

.galery_main {
  img {
    object-fit: contain;
    height: 70vh;
    width: auto;
    cursor: grab;
  }
}

.galery_small {
  img {
    object-fit: contain;
    height: 20vh;
    width: auto;
    cursor: pointer;
  }
}
