.mtop {
  margin-top: 100px
}

.filterGroup {
  margin: 0 auto;
}
.filtBarFormControl {
  width: 99% !important;

}
.searchBar {
  width: 100% !important;
}
@media only screen and (max-width: 1155px) {
  .filterGroup{
    max-width: 50% !important
  }
  .filtBarFormControl{
    max-width: 40% !important
  }

}

@media only screen and (min-width: 0px) {
  .filterGroup{
    max-width: 90% !important
  }
  .filtBarFormControl{
    max-width: 99% !important
  }
}
@media only screen and (min-width: 600px) {
  .filterGroup{
    max-width: 95% !important
  }
  .filtBarFormControl{
    max-width: 99% !important
  }
}
@media only screen and (min-width: 1155px) {
  .filterGroup{
    max-width: 1100px !important
  }
  .filtBarFormControl{
    max-width: 99% !important
  }

}
