.formAlign{
  align-content: flex-start;
}
.admin-contacts-form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin-left: 20%;

    button{
      margin-top: 20px;
      width: 20%;
      margin-left: 25%;
    }
    .contacts_input{
      width: 70%;
    }
  }
.submitContacts{
  margin-top: 20px;
  width: 30% !important;
  margin-left: 20%;
}
  @media (max-width: 1000px) { 
    .admin-contacts-form{
      margin-left: 0;
      button{
        width: 100%;
        margin-left: 0;
      }
      .contacts_input{
        width: 100%; 
      }
    }
}
