@import "../../../style/constants.scss";
.contact-component {
    background: linear-gradient(130deg, $orange-color 80%, #ffffff 40%);
    @include padding-tb();
}

.contacts_content {
    @include padding-tb();
    @include my-box();
    a{
        color: #ffffff;
    }
}

@media (max-width: 600px) { 
    .contacts_content{
    width: 100%;
    margin-left: 0;
    }
}

.contacts_map {
    width: 100%;
    height: 45vh !important;
}

