@import "../../../style/constants.scss";


.layout {
  width: auto;
  margin-left: 24px;
  margin-right: 24px;
}
.cardGrid {
  padding: 32px 0;
  min-height: 61.78vh
}
.galleryCard {
  display: flex;
  flex-direction: column;
  transition:  0.3s ease-in-out;
  text-align: center
}
.galleryCard:hover {

  box-shadow: 0 2px 10px 5px rgba(0,150,136,0.6);
  transition:  0.3s ease-in-out;
  cursor: pointer;
  transform: scale(1.05);

}
.cardMedia {
  padding-top: 80% // 16:9
}
.cardContent {
  flex-grow: 1;
  padding: 16px 16px 0 16px
}
.centered {
  margin: 0 auto !important;
}
.icons {
  height: 35px;
  margin-right: 10px;
}
.noMatches {
  height: 195px;
  margin: auto;
  padding: 10% 0;
  text-align: center
}
.respFSize805040{
  font-size: 80px
}
.fontSaira22 {
  @include text-Saira();
  color: black;
  font-size: 22px;
}
.fontSaira16 {
  @include text-Saira();
  color: black;
  font-size: 16px;
}

@media only screen and (min-width: 1154px) {
  .layout {
    width: 1100px;
    margin: 0 auto;
  }
  }
  @media only screen and (max-width: 748px) {
    .respFSize805040{
      font-size: 50px;
    }
}
@media only screen and (max-width: 463px) {
  .respFSize805040{
    font-size: 40px;
  }
}