@import "../../../style/constants.scss";
.mini-gal-component {
    background: linear-gradient(45deg, #ffffff 40%, $blue-color 0%);
    // height: 90vh !important;
    @include padding-tb();
}
.mini_grid {
    @include my-box();
    @include padding-tb();
}

.mini_img {
    width: 100%; /* Ширина изображений */
    height: 100%; /* Высота изображении */
    object-fit: cover;
    //fill
}

.mini_img-container {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.mini_tile{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%) !important;
}
.mini_img-container .mini_img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mini_img-container:hover .mini_img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}