.reports-block {
    padding: 0 5% 2em 5%;
}
.reports-block-element {
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
}
.report-block-element-date {
    color: #666666;
    font-size: 12px;
}
.report-block-element-title {
    font-size: 20px;
    color: #212121;
}
.report-block-element-icon {
    cursor: pointer;
    float: right;
    margin-top: 7px;
}
.grid-spacing_margin-top {
    margin-top: 16px !important;
}