.admin-expenses-form {
  margin-top: 60px;
  margin-left: 30%;
  margin-right: 30%;
  button{
    margin-top: 20px;
    width: 35%;
    margin-left: 33%;
  }
}

 @media (max-width: 1250px) { 
    .admin-expenses-form {
      margin-left: 20%;
      margin-right: 20%;
    }
  }

.admin-expenses-inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .input {
  width: 125px;
  }
}
