@import "../../style/constants.scss";
.body{
  background: linear-gradient(155deg, $orange-color 20%, $blue-color 70%);  
  height: 100%;
  padding: 3% 0;
}
.card-div{
  @include my-box();
}
.cardDonate {
    width: 100%;
    background: #fff;
    padding: 2.5em 0 3em 0;
    border-radius: 10em; 
    position: relative;
    justify-content: center;
  }

.title {
    text-align: center;
    @include heading-Bowly();
    color: rgb(65, 79, 139);
}

  .donation-loader{
    width: 80%;
    margin: auto;
}

img.kost-1{
    width: 6%;
    height: 6%;
    margin-right: 5%;
    vertical-align: top;
}

img.kost-2{
  width: 6%;
  height: 6%;
  margin-left: 5%;
  vertical-align: top;
}

.donation-imgs{
  text-align: center;
  padding-top: 3%;
  width: 100%;
  display: block;
}

.donation-sum{
  min-height: 5%;
  display: inline-block;
  height: auto;
  text-align: center;
  font-size: 1.6em;
  font-weight: 700;
  color: rgb(112, 58, 58);
  margin: auto;
  position: relative;
}

// .donate-text{
//   width: 200px;
//   height: 100%;
//   padding-left: 8%;
//   font: 20px montserratSemiBold;
//   color: #000;
//   outline: none;
//   display: inline-block;
//   vertical-align: top;
// }

.sum{
  color: rgb(184, 38, 38);
}

.additional-info{
  width: 80%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  color: rgb(112, 58, 58);
  padding-top: 2%;
  margin: auto;
}

.textField-donates{
    width: 35%;
    position: relative;
    margin: auto;
    margin-top: 4%;
}

.textField-email{
    width: -webkit-fill-available;
    float: right;
}

.textField_1{
  width: 100%;
}

.checkbox-margins{
  width: 50%;
  margin-top: 1%;
  width: fit-content;
  float: left;
}

.donation-div{
    width: 35%;
    position: relative;
    margin: auto;
    margin-top: 4%;
}

.donation-btn{
  width: 100%;
  background-color: $orange-color !important;
}

.first-paw{
  width: 3%;
  height: 1%;
  margin-right: 2%;
  margin-bottom: 1%;
}

.second-paw{
  width: 3%;
  height: 1%;
  margin-left: 2%;
  margin-bottom: 1%;
}

@font-face{
	font-family: montserratSemiBold;
	src: url('../../assets/fonts/Montserrat-SemiBold.otf');
}

@font-face{
	font-family: roboto_bold;
	src: url('../../assets/fonts/Roboto-Bold.ttf');
}

@media only screen and (max-width: 1050px) {
  .first-paw{
      width: 7%;
      height: 3%;
      margin-right: 2%;
      margin-bottom: 1%;
  }
  
  .second-paw{
      width: 7%;
      height: 3%;
      margin-left: 2%;
      margin-bottom: 1%;
  }

  .donation-sum{
    font: 21px roboto_bold;
    display: block;
  }
  
  .additional-info{
    font: 17px roboto_bold;
    display: block;
  }

  img.kost-1{
    margin: auto;
  }

  img.kost-2{
    margin: auto;
  }
}

@media only screen and (max-width: 800px) {
  .first-paw{
    width: 7%;
    height: 3%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.second-paw{
    width: 7%;
    height: 3%;
    margin-left: 2%;
    margin-bottom: 1%;
}

  .card-div{
    width: 95%;
  }

  .donation-sum{
    font: 20px roboto_bold;
  }
  
  .additional-info{
    font: 16px roboto_bold;
  }

  .title {
    font-size: 46px;
  }

  img.kost-1{
    width: 8%;
    height: 8%;
    vertical-align: top;
  }

  img.kost-2{
    width: 8%;
    height: 8%;
    vertical-align: top;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 40px;
  }

  img.kost-1{
    width: 10%;
    height: 10%;
    vertical-align: top;
  }

  img.kost-2{
    width: 10%;
    height: 10%;
    vertical-align: top;
  }

  .donation-sum{
    font: 15px roboto_bold;
    display: block;
  }
  
  .additional-info{
    font: 11px roboto_bold;
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 32px;
  }

  .donation-sum{
    font: 14px roboto_bold;
  }
  
  .additional-info{
    font: 10px roboto_bold;
  }
}

@media only screen and (max-width: 300px) {
  .title {
    font-size: 28px;
  }
}