@import "../../style/constants.scss";
.compHeader {
  width: 100%;
  padding-bottom: 15px;
  background: $gradient;
  // box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  position: fixed;
  z-index: 999;
  top: 0;
}
.icon-margin {
  margin: 0.5em;
}

.nav-button {
  margin-left: 1em !important;
  color: white !important;
  display: inline-block;
  font-weight: bold !important;
  padding-bottom: .3em;
  @include text-Saira();
  // margin-bottom: 0;
}
button.nav-button.donate-button-bg {
  // background: $gradient !important;
  background: $orange-color ;
  &:hover {
  opacity: 0.9;
  } 
}

.grow {
  flex-grow: 1;
}

.header-white {
  margin-left: 7px;
  @include header-white();
}

.MuiIconButton-root-49 {
  border-radius: 5% !important;
}

.sectionDesktop {
  display: flex;
  float: right;
}
.sectionMobile {
  display: none;
  float: right;
}
.sectionXs{
  display: none;
  float: right;
}

@media (max-width: 960px) {
  .sectionDesktop{
      display: none;
  }
  .sectionMobile{
      display: flex;
  }
  .sectionXs{
    display: none;
    float: right;
  }
}
@media (max-width: 600px) {
  .sectionDesktop{
      display: none;
  }
  .sectionMobile{
      display: none;
  }
  .sectionXs{
    display: flex;
    float: right;
  }
  .MuiIconButton-root-49 {
    padding: 0px !important;
  }
}