$orange-color: #fa840e;
$blue-color: #009688;
$gradient: linear-gradient(45deg, $orange-color 30%, $blue-color 90%);
$material-blue-color: #3f51b5;
$default-spacing: 8px;
$default-spacing-x2: 16px;
$default-spacing-x3: 24px;

@mixin my-box() {
  margin-left: 5% !important;
  width: 90% !important;
}

@mixin margin-tb() {
  margin: {
    top: 3vh !important;
    bottom: 3vh !important;
  }
}

@mixin padding-tb() {
  padding: {
    top: 3vh !important;
    bottom: 3vh !important;
  }
}

@mixin padding-all() {
  padding: 2vh;
}

@mixin text-Saira() {
  font-family: "Saira", sans-serif !important;
  font-size: 21px;
  @media (min-width: 1400px) {
    font-size: 28px;
  }
  @media (max-width: 970px) {
    font-size: 17px;
  }
  @media (max-width: 500px) {
    font-size: 12px;
  }
}

.text-white{
  @include text-Saira();
  color: white;
}

.text-black{
  @include text-Saira();
 color: black;
}


@mixin heading-Bowly() {
  font-size: 40px;
  font-family: "Bowlby One SC", cursive;
  @media (min-width: 1400px) {
    font-size: 50px;
  }
  @media (max-width: 970px) {
    font-size: 30px;
  }
  @media (max-width: 500px) {
    font-size: 20px;
  }
}
.heading-white{
  @include heading-Bowly();
  color: white;

  @media (max-width: 970px) {
  color: black;
  }
}

.heading-black{
  @include heading-Bowly();
  color: black !important;
}
.heading-blue{
  @include heading-Bowly();
  color: #414F8B !important;
}

@mixin header-white() {
  font-size: 22px;
  font-family: "Bowlby One SC", cursive;
  color: white;
  @media (max-width: 700px) {
    font-size: 18px;
  }
  @media (max-width: 500px) {
    font-size: 16px;
  }
}

@mixin button() {
  margin: auto;
  width: 20%;
  color: white !important;
  padding: 8px 0 !important;
  font-size: 1em !important;
  @media (min-width: 1400px) {
    padding: 10px 0 !important;
    font-size: 1.5em !important;
  }
  @media (max-width: 1170px) {
    width: 30%;
  }
  @media (max-width: 780px) {
    width: 40%;
  }
  @media (max-width: 585px) {
    width: 50%;
  }
  @media (max-width: 430px) {
    width: 70%;
    padding: 5px !important;
  }
  
}

.button-blue {
  @include button();
  background-color: $blue-color !important;
}

.button-orange {
  @include button();
  background-color: $orange-color !important;
}

.padding-for-header {
  padding-top: 90px;
}