@import "../../style/constants.scss";

.page-not-found {
  width: 100%;
  .page-not-found_txt {
    font-weight: bold;
    font-size: 4.5rem;
    text-align: center;
    color: $blue-color;
    padding-bottom: 3vh;
  }
  .not-found-btn {
    background-color: $orange-color;
    margin-bottom: 3vh;
    margin-right: 33% ;
    margin-left: 33%;
    width: 33% ;
    font-size: 20px;
    color: white;
  }
  .not-found-btn:hover {
    background-color: $orange-color;
  }
}

@media (max-width: 600px) {
  .not-found-btn {
    font-size: 15px !important;
  }
  .page-not-found_txt {
    font-size: 2rem !important;
    text-align: center;
    padding-bottom: 0vh !important;
  }
}


.page-not-fond-dog{
  position: relative;
	margin: auto;
	width: 300px;
	height: 480px;
}

.pug{
  position: absolute;
	width: 370px;
	height: 270px;
  top: 30%;
	background: none;
}

.platform{
  position: absolute;
  width: 100%;
  height: 8%;
  left: 0%;
  top: 93%;
  background: #EAE6E2;
  border-radius: 50px;
  animation: platform 5s infinite;
}

.platform:before{
  content: "";
  position: absolute;
  width: 80%;
  height: 50%;
  left: 10%;
  top: 95%;
  background: #EAE6E2;
  border-radius: 50px;
}

.platform:after{
  content: "";
  position: absolute;
  width: 80%;
  height: 70%;
  left: -10%;
  top: 145%;
  background: #EAE6E2;
  border-radius: 50px;
}

.body-dog{
  position: absolute;
	width: 66.5%;
	height: 63.5%;
	left: 10%;
  top: 21.5%;
	background: #FFDBB2;
  border-left: 1px solid #4F200A;
  border-right: 1px solid #4F200A;
	border-radius: 50px;
}

.body-dog:before{
  content: "";
  position: absolute;
	width: 5%;
	height: 23%;
	left: 74%;
  top: 96.5%;
	background: #FFDBB2;
  border: 1px solid #4F200A;
	border-radius: 50%;
  animation: feet 2s infinite;
}

.body-dog:after{
  content: "";
  position: absolute;
	width: 5.5%;
	height: 26.5%;
	left: 86%;
  top: 92%;
	background: #FFDBB2;
  border: 1px solid #4F200A;
	border-radius: 50%;
  animation: feet 2s infinite 1s;
}

.body-part-1{
  position: absolute;
	width: 47%;
	height: 48%;
	left: 2%;
  top: 27.5%;
	background: #FFDBB2;
  border-left: 1px solid #4F200A;
  border-bottom: 1px solid #4F200A;
	border-radius: 50px;
}

.body-part-1:before{
  content: "";
  position: absolute;
	width: 7%;
	height: 26%;
	left: 48%;
  top: 120%;
	background: #FFDBB2;
  border: 1px solid #4F200A;
	border-radius: 50%;
  animation: feet 2s infinite 1s;
}

.body-part-1:after{
  content: "";
  position: absolute;
	width: 8%;
	height: 29%;
	left: 75%;
  top: 120%;
	background: #FFDBB2;
  border: 1px solid #4F200A;
	border-radius: 50%;
  animation: feet 2s infinite;
}

.left-eye{
  position: absolute;
	width: 11%;
	height: 31%;
	left: 3%;
  top: 16%;
	background: #794932;
  border: 1px solid #4F200A;
	border-radius: 50%;
  transform: rotate(35deg);
}

.left-eye:before{
  content: "";
  position: absolute;
	width: 80%;
	height: 55%;
	left: 46%;
  top: 96.5%;
	background: linear-gradient(90deg, transparent, transparent 50%, #D9E6FE 50%, #D9E6FE);
  border-right: 1px solid #4F200A;
	border-radius: 50%;
  transform: rotate(-35deg);  
}

.left-eye:after{
  content: "";
  position: absolute;
	width: 40%;
	height: 43%;
	left: 69%;
  top: 100.5%;
	background: linear-gradient(90deg, transparent, transparent 30%, #794932 30%, #794932);
  border-right: 1px solid #4F200A;
	border-radius: 50%;
  transform: rotate(-35deg);
}

.body-part-2{
  position: absolute;
	width: 10%;
	height: 31%;
	left: 5%;
  top: 18%;
	background: #FFDBB2;
  border-left: 1px solid #4F200A;
	border-radius: 50%;
  transform: rotate(42deg);
}

.body-part-2:before{
  content: "";
  position: absolute;
	width: 61%;
	height: 40.5%;
	left: 583%;
  top: -47.5%;
	background: #FFDBB2;
  border-left: 1px solid #4F200A;
	border-radius: 50%;
  transform: rotate(-62deg);
}

.right-eye{
  position: absolute;
	width: 17%;
	height: 33%;
	left: 28%;
  top: 18.5%;
	background: #794932;
  border: 1px solid #4F200A;
	border-radius: 50%;
  transform: rotate(-33deg);
}

.right-eye:before{
  content: "";
  position: absolute;
	width: 80%;
	height: 56%;
	left: -117%;
  top: 32%;
	background: #D9E6FE;
  border: 1px solid #4F200A;
	border-radius: 50%;
  transform: rotate(33deg);
}

.right-eye:after{
  content: "";
  position: absolute;
	width: 61%;
	height: 42%;
	left: -107%;
  top: 39%;
	background: #794932;
  border: 1px solid #4F200A;
	border-radius: 50%;
  transform: rotate(33deg);
}

.snout{
  position: absolute;
	width: 9%;
	height: 9%;
	left: 7.5%;
  top: 66%;
	background: #794932;
  border: 1px solid #4F200A;
	border-radius: 50%;
}

.snout:before{
  content: "";
  position: absolute;
	width: 71%;
	height: 178.5%;
	left: -40%;
  top: -114%;
	background: #794932;
  border: 1px solid #4F200A;
	border-radius: 50%;
  transform: rotate(22deg);
  z-index: 1;
  
}

.snout:after{
  content: "";
  position: absolute;
	width: 80%;
	height: 206.5%;
	left: 32%;
  top: -120.5%;
	background: #794932;
  border: 1px solid #4F200A;
	border-radius: 50%;
  transform: rotate(-35deg);
  z-index: 1;
}

.brow{
  position: absolute;
	width: 5.5%;
	height: 3%;
	left: 16%;
  top: 40%;
	background: #4F200A;
  border-radius: 50px;
}

.brow:before{
  content: "";
  position: absolute;
	width: 70%;
	height: 100%;
	left: -257%;
  top: 0%;
	background: #4F200A;
  border-radius: 50px;
  
}

.brow:after{
  content: "";
  position: absolute;
	width: 60%;
	height: 355%;
	left: -129%;
  top: 760%;
	background: #ED5754;
	border-radius: 50%;
  animation: tongue 3s infinite;
}

.nose{
  position: absolute;
	width: 3%;
	height: 3%;
	left: 9.7%;
  top: 56.5%;
	background: linear-gradient(to bottom right, #4F200A, #4F200A 50%, transparent 50%, transparent);
  z-index: 2;
}

.nose:before{
  content: "";
  position: absolute;
	width: 100%;
	height: 100%;
	left: -90%;
  top: 0%;
	background: linear-gradient(to bottom left, #4F200A, #4F200A 50%, transparent 50%, transparent);
}

.nose:after{
  content: "";
  position: absolute;
	width: 16.5%;
	height: 140%;
	left: 25%;
  top: 385%;
	background: #4F200A;
	border-radius: 50%;
}

.burger-bun{
  position: absolute;
  width: 63%;
  height: 13%;
  left: 13%;
  top: 77%;
  background: #FDBB5A;
  border-radius: 50px;
  border: 1px solid #4D2009;
  transform: rotate(-2deg);
}

.burger-bun:before{
  content: "";
  position: absolute;
  width: 11%;
  height: 77%;
  left: 97%;
  top: -386%;
  background: #FFDBB2;
  border-radius: 50%;
  border: 1px solid #4D2009;
}

.burger{
  position: absolute;
	width: 300px;
	height: 260px;
	left: 0%;
  top: 0%;
	background: none;
}

.salad{
  position: absolute;
	width: 18%;
	height: 48%;
	left: 11%;
  top: 49%;
	background: #75B11F;
  border-radius: 50%;
  border: 2px solid #4F200A;
  transform: rotate(55deg);
}

.salad:before{
  content: "";
  position: absolute;
	width: 78%;
	height: 64%;
	left: 85%;
  top: 21%;
	background: #75B11F;
  border-radius: 50%;
  border: 2px solid #4F200A;
  transform: rotate(-5deg);
}

.salad:after{
  content: "";
  position: absolute;
	width: 100%;
	height: 64%;
	left: 163%;
  top: -15%;
	background: #75B11F;
  border-radius: 50%;
  border: 2px solid #4F200A;
  transform: rotate(10deg);
}

.salad-copy{
  position: absolute;
	width: 23.5%;
	height: 58.5%;
	left: 44.5%;
  top: 51.5%;
	background: #75B11F;
  border-radius: 50%;
  border: 2px solid #4F200A;
  transform: rotate(-85deg);
}

.salad-copy:before{
  content: "";
  position: absolute;
	width: 95%;
	height: 51.5%;
	left: 1%;
  top: 74.5%;
	background: #75B11F;
  border-radius: 50%;
  border: 2px solid #4F200A;
  transform: rotate(30deg);
}

.salad-copy:after{
  content: "";
  position: absolute;
	width: 50%;
	height: 53%;
	left: 5.5%;
  top: 59.5%;
	background: #75B11F;
  border-radius: 50%;
  border: 2px solid #4F200A;
  transform: rotate(-134deg);
}

.salad-shadow{
  position: absolute;
	width: 31%;
	height: 6%;
	left: 5%;
  top: 77%;
	background: none;
  border-radius: 50%;
  border-top: 2px solid #4F200A;
  transform: rotate(-26deg);
}

.salad-shadow:before{
  content: "";
  position: absolute;
	width: 17%;
	height: 300%;
	left: 195%;
  top: 365%;
	background: none;
  border-radius: 50%;
  border-left: 2px solid #4F200A;
}

.salad-shadow:after{
  content: "";
  position: absolute;
	width: 41%;
	height: 545%;
	left: 135%;
  top: 137%;
	background: none;
  border-radius: 50%;
  border-left: 2px solid #4F200A;
  transform: rotate(95deg);
}

.beef{
  position: absolute;
	width: 92.5%;
	height: 28%;
	left: 3%;
  top: 49%;
	background: linear-gradient(to bottom, #774A31, #774A31 90%, transparent 90%, transparent);
  border-radius: 50px;
  border: 2px solid #4F200A;
  border-bottom: none;
}

.beef:before{
  content: "";
  position: absolute;
	width: 73%;
	height: 38%;
	left: 1.5%;
  top: 56%;
	background: #D7373A;
  border-radius: 7px;
  border: 2px solid #971E1D;
  transform: rotate(-5deg);
}

.beef:after{
  content: "";
  position: absolute;
	width: 44.5%;
	height: 38%;
	left: 57%;
  top: 73%;
	background: #D7373A;
  border-radius: 7px;
  border: 2px solid #971E1D;
  transform: rotate(18deg);
}

.cheese{
  position: absolute;
	width: 100%;
	height: 48.5%;
	left: 0%;
  top: 35%;
	background: linear-gradient(182deg, #FCD78C, #FCD78C 49%, transparent 50%, transparent);
  border-radius: 50%;
  border-top: 2px solid #4F200A;
}

.cheese:before{
  content: "";
  position: absolute;
	width: 38%;
	height: 13%;
	left: 59%;
  top: 10%;
	background: #CF2927;
  border-radius: 50%;
  border: 1px solid #4F200A;
  transform: rotate(18deg);
}

.cheese:after{
  content: "";
  position: absolute;
	width: 96%;
	height: 172%;
	left: 0.5%;
  top: -64%;
  background: linear-gradient(to bottom, #FDBB5A, #FDBB5A 50%, #4F200A 50%, #4F200A 51%, transparent 51%, transparent);
  border-radius: 50%;
  border-top: 2px solid #4F200A;
  transform: rotate(-1deg);
  z-index: 2;
}

.sauce{
  position: absolute;
	width: 37%;
	height: 8.5%;
	left: 46.5%;
  top: 43%;
	background: #CF2927;
  border-radius: 50%;
  border: 1px solid #4F200A;
}

.sauce:before{
  content: "";
  position: absolute;
	width: 85%;
	height: 83%;
	left: -72%;
  top: 0%;
	background: #CF2927;
  border-radius: 50%;
  border: 1px solid #4F200A;
}

.sauce:after{
  content: "";
  position: absolute;
	width: 21%;
	height: 325%;
	left: -103%;
  top: -100%;
  background: #CF2927;
  border-radius: 50%;
  border: 1px solid #4F200A;
  transform: rotate(65deg);
}

.beef-shadow{
  position: absolute;
	width: 18%;
	height: 9.5%;
	left: 46.5%;
  top: 55%;
	background: #774A31;
  border-radius: 50%;
}

.beef-shadow:before{
  content: "";
  position: absolute;
	width: 85%;
	height: 187%;
	left: 161%;
  top: -17%;
	background: #774A31;
  border-radius: 50%;
}

.beef-shadow:after{
  content: "";
  position: absolute;
	width: 49%;
	height: 325%;
	left: -124%;
  top: -100%;
  background: #774A31;
  border-radius: 50%;
  transform: rotate(76deg);
}

.sesame{
  position: absolute;
	width: 6%;
	height: 3%;
	left: 47%;
  top: 17%;
	background: #F5DEC8;
  border-radius: 50%;
  border: 1px solid #4D2009;
  z-index: 3;
  transform: rotate(-15deg);
}

.sesame:before{
  content: "";
  position: absolute;
	width: 90%;
	height: 80%;
	left: 270%;
  top: -71%;
	background: #F5DEC8;
  border-radius: 50%;
  border: 1px solid #4D2009;
  z-index: 3;
  transform: rotate(30deg);
}

.sesame:after{
  content:"";
  position: absolute;
	width: 90%;
	height: 100%;
	left: -427%;
  top: -100%;
	background: #F5DEC8;
  border-radius: 50%;
  border: 1px solid #4D2009;
  z-index: 3;
  transform: rotate(-25deg);
}

@keyframes tongue{
  0%{}
  50%{top: 900%;}
  100%{}  
}

@keyframes feet{
  0%{}
  50%{transform: rotate(20deg);}
  100%{}
}
  
@keyframes platform{
  0%{}
  50%{left: 5%;}
  100%{}
}