.toolbar{
  justify-content: space-between;
}
.bgclr{
  background-color: #3f51b5 !important;
}
.white{
  color: #ffffff !important;
}
.width30{
  width: 15%;
}
.menuItemText{
  font-size: 16px !important;
}