/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
.sign-in-container {
  margin: auto;
  margin-top: 200px;
}

.avatar-image {
  width: 150px;
  height: 150px;
  margin: auto;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.img-label {
  -webkit-text-align: center;
  -khtml-text-align: center;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  text-align: center;
  width: 100%;
}

.avatar {
  position: relative;
}

.button-align {
  position: absolute;
  right: 7px;
  bottom: 7px;
}

/*# sourceMappingURL=style.css.map */
