@import "css3-mixins.scss";

.sign-in-container{
    margin: auto;
    margin-top: 200px;
}

.avatar-image{
    width: 150px;
    height: 150px;
    margin: auto;
    @include border-radius(50%);
}
.img-label{
    @include css3-prefix(text-align, center);
    width: 100%;
}
.avatar{
    position: relative;
}
.button-align{
    position: absolute;
    right: 7px;
    bottom: 7px;
}