@import "../../../style/constants";

.dialogCloseButton{
    background-color: grey !important;
    color: white !important;
}
.dialogDeleteButton{
    background-color: $orange-color !important;
    color: white !important;
}