@import "../../../style/constants.scss";
.about-component {
    background:linear-gradient(130deg,  #ffffff 15%, $blue-color 0%);
    // height: 94vh !important;
}
.about_content{
    @include my-box();
    @include padding-tb();
    color:white !important;
}
.about_header-button{
    margin: auto;
    position: absolute;
    top:0;
    background-color: $blue-color !important; 
    padding: 1%;    
    color: white;
    font-size: 1.3em;
    border-radius: 0 0 4px 4px;
}
.about_button{
    width: 100%;
    min-height: 47vh;
    height: 100%;
    max-height: 50vh;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-position: center; /* Center the image */
    opacity: 1;
    @media (max-width: 960px) {
    max-height: 40vh;
    min-height: 30vh;
  }
}


.about_pets-bg{
    background-image: url('../../../assets/pets3.jpg');
}

.about_info-bg{
    background-image: url('../../../assets/PieChart.jpg');
}

.about_button:hover{
    opacity: .8;
    transition: opacity .2s;
}


.about_img{
    display:flex;
    width:100%;
    min-height: 35vh;
    max-height: 45vh;    
}

.icon-charts{
    width: 10%;
    height: 10%;
    margin: 0% 2%;
}

@media (max-width: 634px) { 
    .about_content{
    width: 100%;
    margin-left: 0;
    }
    .about-component {
        background:linear-gradient(140deg,  #ffffff 20%, $blue-color 0%);
    }
}

.animation-button{
transition: opacity .2s;
-webkit-animation: btnWiggle 2s infinite;
-moz-animation: btnWiggle 2s infinite;
-o-animation: btnWiggle 2s infinite;
animation: btnWiggle 2s infinite;
}

@-webkit-keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-1deg);}
	3.5% {-webkit-transform: rotate(1deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@-o-keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-1deg);}
	3.5% {-webkit-transform: rotate(1deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-1deg);}
	3.5% {-webkit-transform: rotate(1deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}

