@import "../../../style/constants.scss";
.first-info-component {
  position: relative;
}
.first_img1{
  margin-top: 11vh;
  display: block;
  max-width: 100%;
  // height: 90vh !important;
}
.first_img2{
  display: none;
}
.first_img3{
  display: none;
}

@media (max-width: 900px) {
  .first_img1{
    display: none;
  }
  .first_img2{
    display: block;
    margin-top: 10vh;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
    .first_img2{
      display: none !important;
    }
    .first_img3{
      display: block;
      max-width: 100%;
      margin-top:2vh;
    }
  }