.hidden {
  visibility: hidden;
  position: absolute;
}
.asterisk::after {
  content: '*';
  color: #ff0000;
  float: right;
  position: absolute;
  left: -10px;
  }
.mt20px{
  margin-top: 20px !important;
}
.taCenter{
  text-align: center;
}

.belowSubmit{
  margin: -40px  auto 0 auto;
}
.red{
  font-size: 14px;
  color: #ff0000;
}
.img100x100{
  margin-left: 150px;
  margin-bottom: -50px;
  height: 100px;
  position: relative;
  top: -36px
}
.img100x100edit{
  height: 100px;
  position: relative;
}
.negativeMarginBott30px{
  margin-bottom: -30px !important;
}
.dateIcon{
  position: relative;
  top: -48px;
  left: 70%;
}
.responsiveText{
  font-size: 1.1vw;
}
.width20 {
  width: 20%;
}
.w100{
  width: 100px;
}
  @media screen and (min-width: 1300px) {
    .responsiveText {
      font-size: 16px;
    }
  }